* {
  padding: 0;
  margin: 0;
  border: 0;
}
.dark {
  color: aliceblue;
  background-color: rgb(6, 54, 54);
}
.white {
  color: black;
  background-color: aliceblue;
}
button {
  border: solid 2px red;
  padding: 0.5rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
body {
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1000px;
}
